[Unit]
Description=Reset Happ DNS on sing-box tun0
After=happ.service coredns.service
Requires=coredns.service
PartOf=happ.service

[Service]
Type=oneshot
TimeoutStartSec=300s
Environment="IFACE=tun0"
ExecStartPre=%h/.local/scripts/reset-singbox-dns.sh
ExecStart=/usr/bin/true
Restart=on-abnormal
RemainAfterExit=yes

[Install]
WantedBy=happ.service
