[tasks.packages]
description = "Provision System packages (Apt, Flatpak)"
usage = '''
flag "-u --update"          help="Update packages"
arg "[bundle]" var=#true    help="Specifies which software bundles to provision" default="base"
'''
run = 'exec mise run --jobs=1 packages:?* ${usage_update:+--update} ${usage_bundle}'

[tasks."packages:apt"]
description = "Provision Apt packages"
usage = '''
flag "-u --update"          help="Update packages"
arg "[bundle]" var=#true    help="Specifies which software bundles to provision" default="base"
'''
run = './nu/install-packages.nu apt ${usage_update:+--update} ${usage_bundle}'

[tasks."packages:flatpak"]
description = "Provision Flatpak packages"
usage = '''
flag "-u --update"          help="Update packages"
arg "[bundle]" var=#true    help="Specifies which software bundles to provision" default="base"
'''
run = './nu/install-packages.nu flatpak ${usage_update:+--update} ${usage_bundle}'

[tasks."nix:profiles:ls"]
description = "List installed nix profiles"
run="nix profile list"

[tasks."nix:profiles"]
description = "List nix profiles"
run="ls -1 nix/*/flake.nix | sed 's@/flake.nix@@'"

[tasks.nix]
description = "Provision (install/update) Nix packages"
usage='''
arg "profile"                                   help="Specify which nix profile to (profiles under nix/*)"
flag "-u --update"                              help="Update nix profile (forces update even if flake.nix changes are not tracked)"
flag "-o --output <output>" default="default"   help="Specify flake package output (see the corresponding flake.nix aka desktop/cloud etc)"
'''
run='./nu/install-packages.nu nix ${usage_update:+--update} --output=${usage_output} ${usage_profile}'


[tasks.provision]
description = "Provision default workstation"
usage = '''
flag "-u --update"          help="Update packages"
'''
run = [
    'exec mise run --jobs=1 packages:?* ${usage_update:+--update} base',
    'exec mise run nix ${usage_update:+--update} base',
    'exec mise run nix ${usage_update:+--update} code',
    'exec mise run nix ${usage_update:+--update} --output=cloud devops',
]
depends_post = [
    "setup:podman"
]


[tasks."provision:desktop"]
description = "Provision default workstation"
usage = '''
flag "-u --update"          help="Update packages"
'''
run = [
    'exec mise run --jobs=1 packages:?* ${usage_update:+--update} base',
    'exec mise run nix ${usage_update:+--update} base',
    'exec mise run nix ${usage_update:+--update} --output=desktop code',
    'exec mise run nix ${usage_update:+--update} --output=cloud devops',
]
depends_post = [
    "setup:podman",
    "setup:keepassxc"
]

[tasks."setup:stow"]
description = "Stow directory structure"
run = "stow -v --no-folding ."


[tasks."setup:unstow"]
description = "Unstow directory structure"
run = "stow -v --no-folding ."

[tasks.bootstrap]
description = "Runs necessary tasks for the bootstrap stage"
depends = ["setup:stow"]
