[Unit]
Description=AmneziaVPN Service
After=network-online.target
Wants=network-online.target
Requires=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/<REPLACE-USER>/.local/scripts/amneziavpn-service-wrapper
Restart=always
RestartSec=5
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
