[Desktop Entry]
Type=Application
Name=Text Scale Factor
Comment=Tune Gnome Scale factor
Exec=sh -c "~/.local/scripts/text-scale-factor"
StartupNotify=false
Terminal=false
Icon=preferences-desktop-font
Categories=Utility;Settings;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
